# Auto detect text files and perform LF normalization
* text=auto

# Scripts must always have LF line endings for Linux execution
gradlew text eol=lf
*.sh text eol=lf

# Windows batch files
*.bat text eol=crlf
*.cmd text eol=crlf
